@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto';
}
.asideBar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.search-container{
    margin-top: 10px;

}
.asideBar{
    background-color: #413D6E;
    height: 900px;
    width: 400px;
}
.aside{
    width: 400px !important;
}
.fa-arrow-right:before {
margin-left: 50px;
}

.sp-img{
    width: 500px !important;
    margin-left: 50px;
    margin-top: 0px;
}
.im{
    margin-left: -276px;
}
.imm{
    margin-left: -100px;
}
.h3m{
    margin-left: -309px;
}
.h3mm{
    margin-left: -120px;
}
.fa-step-forward{
    margin-left: 40px;
}
.fa-play{
    margin-left: 270px;
}
.fa-step-backward{
margin-right: -225px;
    margin-left: 230px;
}
.fa-picture-o{
    margin-right: -84px;
    margin-left: 81px;
}
.fa-ellipsis-v{
    margin-left: 171px;
}

input{
    width: 100%;
    border: none;
    background-color: #F5FAFC;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 20px;
}

hr{
    width: 450px;
    margin-top: 40px;
    opacity: 15%;
}
.sp1 {
    margin-left: 103px;
}
.sp2{
    margin-left: 75px;
}
.sp3{
    margin-left: 130px;
}

span{
    margin-left: 50px;
}

.cool{
    margin-left: 50px !important;

}
.view{
    background-color: #EDF1F4;
}

.right-items{
    display: -webkit-inline-box;
    margin-left: 238px;
}

.fa-clone, .fa-cut, .fa-trash, .fa-folder-plus, .fa-vector-square, .fa-book-open, .fa-chevron-down{
    margin-right: 60px;
}
.bk{
    margin-top: 20px;
}
.fa-desktop{
    margin-left: -157px;
}
.fa-search{
    margin-left: 12px;
}
.dropdown-content .fa-desktop{
    margin-left: 0px;
}
.left-items{
    display: -webkit-inline-box;
}
.left-items{
    margin-left: -150px;
    margin-right: 148px;
}
.left-items li a{
    text-decoration: none;
    color: black;
    padding-right: 55px;
}

ul{
    text-decoration: none;
    list-style: none;
    /* justify-content: space-evenly; */
    justify-content: space-between;
}